<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Andrew Wooldridge (triptych)'s portfolio website.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Andrew Wooldridge (triptych)'s portfolio website.">
    <meta property="og:description" content="Andrew Wooldridge (triptych)'s portfolio website.">
    <title>triptych</title>
    <link rel="icon" href="{{image}}">
    <link href="https://portfolio-website-template.hecker40.repl.co/static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <nav class="navbar">
      <a href="https://portfolio-website-template.hecker40.repl.co/" class="title">@{{username}}</a>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle"/>
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a href="https://portfolio-website-template.hecker40.repl.co/">Home</a></li>
          <li><a href="https://portfolio-website-template.hecker40.repl.co/#projects">Projects</a></li>
          <li class="nav-dropdown">
            <a href="https://portfolio-website-template.hecker40.repl.co/#contact">Contact</a>
            <ul class="dropdown">
              <li><a href="https://replit.com/@triptych">Replit</a></li>
              <li><a href="https://github.com/triptych">Github</a></li>
              <li><a href="https://twitter.com/triptych">Twitter</a></li>
              <li><a href="https://linkedin.com/in/triptych">LinkedIn</a></li>
              <li><a href="https://reddit.com/u/triptychful">Reddit</a></li>
              <li><a href="mailto:triptych@gmail.com">Email</a></li>
              <li><a href="https://itch.io/profile/triptych">Gaming</a></li>
            </ul>
          </li>
          <li><a href="https://portfolio-website-template.hecker40.repl.co/blog">Blog</a></li>
        </div>
      </ul>
    </nav>
    <main>
      <h1>My blog</h1>
      {% for blog in blogs %}
      <div class="card" onclick="window.open('https://portfolio-website-template.hecker40.repl.co/blog/{{blog[0]}}')">
        <h3>{{blog[0]}}</h3>
        <p>{{blog[1]}}</p>
        <p class="stats">{{blog[2]}}</p>
      </div>
      {% endfor %}
    </main>
    <div class="footer" style="margin-top:150px;">&copy; 2022 <a href="https://replit.com/@hecker40" target="_blank">@triptych</a></div>
  </body>
</html>